<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url("bg.jpg") %>); background-size: initial;">
  <div class="inside">
    <h1>Cocktail Recipes</h1>
    <p>make cocktail and enjoy drink</p>
    <%= link_to "Add new cocktail", new_cocktail_path(@cocktail), class: "btn btn-primary btn-flat"  %>
  </div>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <a class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("cocktail.jpg") %>); background-position: center; background-size: cover" href=<%= cocktail_path(cocktail) %>>
      <h2><%= cocktail.name %></h2>
    </a>
  <% end %>
</div>
